body {
  font-family: sans-serif;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #171717;
  color: #e7e7e7;
}

h1 {
  margin: 0 0 1rem 0;
}

p {
  margin: 0 0 1rem 0;
}

button {
  background-color: dodgerblue;
  color: midnightblue;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

button.active {
  background-color: mediumseagreen;
  color: darkgreen;
}
