body {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  margin: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
  color: #e7e7e7;
  background-color: #171717;
}

h1 {
  margin: 0 0 1rem 0;
}

p {
  margin: 0 0 1rem 0;
}

button {
  background-color: dodgerblue;
  color: midnightblue;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

button:not(:disabled):hover {
  background-color: mediumseagreen;
  color: darkgreen;
}

button:disabled {
  opacity: 0.2;
}

#avatar:not([src]),
#avatar[src=""] {
  visibility: hidden;
}

#avatar {
  height: 150px;
}